
.following-profile-picture{
    border-radius: 50%;
    width: 225px;
    height: 225px;
}

.following-name{
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
}

.name-and-following{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.board-and-followers{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 30px;
    color: #484848;
    font-weight: bold;
    font-size: 16px;
    justify-content: center;
    margin-top: 5px;
}

.splash3{
   position: absolute;
    top: 20%;
    left: 12%;
    z-index: -1;
}

.following-button{
    width: 200px;
    padding: 12px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #e60000;
    font-size: 18px;
}

.follow-button-2{
    width: 200px;
    padding: 6px 9px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #e60000;
    font-size: 18px;
    font-weight: bold;
}

.unfollow-button-2{
    width: 200px;
    padding: 6px 9px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: black;
    background-color: #efefef;
    font-size: 18px;
    font-weight: bold;
}
 .no-followers{
     font-size: 40px;
     width: 500px !important;
 }

