

.main-profile {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #909090;
    margin-top: 85px;
    width: 100%;
}

.left-edit{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: row;
}


.editlinks {
    display: flex;
    justify-content: row;
    position: fixed;
    left: 300px;
}

.editlinks > li {
    padding: 0px;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px
}

.editlinks > li:hover {
    background: #f0f0f0;
    cursor: pointer;
}

.edit-img{
    width: 30px;
    height: 30px;
    filter: brightness(120%);
}

.plus{
    color: #8e8e8e;
    font-size: 45px;
    position: relative;
    top: -15px;
    width: 30px;
    height: 30px;
}



/* .plus{
        display: flex;
        color: #8e8e8e;
        font-size: 45px;
        padding-right: 20px;
}

.edit-img{
    display: flex;
    position: absolute;
    top: 4px;
    width: 30px;
    filter: brightness(120%)
}

.profile-icon > li{
    box-sizing: border-box;
}

.profile-icon {
   display: flex;
   align-items: center;
   justify-content: left;
   position: absolute;
   top: 100px;
   left: 225px;
} */
