.sessionform {
    margin: 0 auto;
    background: white;
    text-align: center;
    width: 410px;
    height: fit-content;
    border-radius: 2%;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.session-inputs{
    width: 260px;
    padding: 8px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
}
input[type=text]{
    box-sizing: border-box;
    padding: 12px;
}
input[type=password]{
    box-sizing: border-box;
    padding: 12px;
}

input[type=text]:focus, input[type=password]:focus {
    outline: 0px solid #7cb6f0;
    box-shadow: 0 0 0px 4px #7cb6f0;
}

input[type=submit] {
    width: 250px;
    padding: 8px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #e60000;
}

input[type=submit]:hover {
    background-color: #d70025
}

.sessionheader {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sessiontext {
    font-size: 16px;
    text-align: center;
}

.sessionbutton {
    position: fixed;
    right: -40px;
    top: 70px;
    overflow: hidden;
    width: 130px;
    padding: 12px 16px;
    box-sizing: border-box;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    color: #363636;
    background-color: #f0eded;
    font-weight: bold;
    font-size: 16px;
    float: right;
    margin-right: 100px;
    z-index: 11;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto Oxygen-Sans,Ubuntu,Cantarell,“Fira Sans”,“Droid Sans”,Helvetica Neue,Helvetica,"\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3",Hiragino Kaku Gothic Pro,"\30E1\30A4\30EA\30AA",Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;;
}

.sessionbutton:hover {
    background-color: #e2e2e2;
}

.session-logo {
    width: 75px;
    text-align: center;
    margin: auto auto 10px auto;
    position: relative;
    top: 5px;
}

.session-space-1 {
    margin-bottom: 15px;
}

.session-span {
    color: #717171;
    cursor: pointer;
    font-size: 13px;
    position: relative;
    bottom: 8px;
    font-weight: 600;
}

.session-span:hover {
    color: #8a8a8a;
    text-decoration: underline;
}

.demo-user{
    width: 250px;
    padding: 8px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #e60000;
    position: relative;
    bottom: 10px;
}

.demo-user:hover {
    background-color: #d70025
}

.session-errors{
    color: #eb9d5f;
    font-size: 12px;
}

