.container{

}

.session{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index:10;

}

.opacity{

}

.spash{
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
}