.create-board-page2{
  position: relative;
  top: 10px;
    
}

.red-plus2 {
    width: 40px;
    height: 40px;
    background-color: #e90000;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
   padding-bottom: 3px;
    font-size: 42px;
    color: white;
    text-align: center;
    line-height: 34px;
    position: absolute;
    top: 36%;
    left: 40%;
  
   
  }

 
 .create-small-square2{
   width: 100%;
   height: 200px;
   background: #eeeeee;
    border-radius: 4px;
 }


 .create-board-h12{
    padding-top: 5px;
    color: #939292;
    font-size: 18px;
    font-family:  "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", arial, sans-serif;;
 }

