.pin-photo-img{
    width: fit-content;
    height: 550px;
    margin-top: 20px;
    margin-left: 30px;
}

.pin-show{
 position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 700px;
    background-color: white;
    border-radius: 5px;
}

.edit-show-img{
     width: 30px;
    height: 30px;
    filter: brightness(120%);
    margin-top: 20px;
    margin-left: 40px;
}

.splash2{
   position: absolute;
    top: 45%;
    left: 12%;
    z-index: -1;
}

.pin-show-selector{
    margin-left: 650px;
    border: none;
    width: 300x;;
    height: 45px;
    font-size: 16px;
}


.pin-show-submit{
    width: 80px;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #e60000;
    font-size: 18px;
    font-weight: bold;

}

