.pin-item{
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    
    
}

.show-pins-group{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));

}



.pin-index-submit{
    width: 80px;
    padding: 10px 10px;
    padding-left: 23px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #e60000;
    font-size: 18px;
    font-weight: bold;

}


.pin-index-icon{
  z-index: 5;
  position: relative;
  left: 10px;
  top: 30px;
  color: white;

}

.whole-pin-button{
    z-index: 5;
    position: relative;
    left: -10px;
}

.whole-pin-button3{
    z-index: 5;
    position: relative;
    left: -10px;

}


.pin-show-page-title2{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}


.picture-title-hover{
     padding: 5px 10px 0 10px;
     border-radius: 8px;
}

.picture-title-hover:hover{
     background: rgba(226, 226, 226, 0.337);
}

.whole-image-save{
    position: relative;
}

.button4{
    position: absolute;
    top: 0;
    right: 8px;
}

.image4-hover:hover{
   filter: brightness(80%)  
}



