.pin-photo-img{
    width: auto;
    max-width: 375px;
    height: auto;
    max-height: 500px;
    margin-left: 30px;
    margin-bottom: 100px;
}

.pin-background-1{
    background: #efefef;
    width: 100%;
    margin-top: 63px;
    height: 1000px;
}

.home-pin-show{
    font-size: 22px;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 20px;
    position: relative;
    z-index: 10;
}

.back-button{
    padding-left: 15px;
}

.pin-show{
    position: absolute;
    top: 20%;
    left: 17%;
    /* transform: translate(-50%, -50%); */
    width: 800px;
    height: fit-content;
    min-height: 650px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 20px;
}

.edit-show-img{
     width: 30px;
    height: 30px;
    filter: brightness(120%);
    margin-top: 50px;
    margin-left: 50px;
}

.splash2{
   position: absolute;
    top: 45%;
    left: 12%;
    z-index: -1;
}

.pin-show-selector{
    margin-left: 500px;
    margin-top: 70px;
    border: none;
    width: 500x;;
    height: 45px;
    font-size: 16px;
}



