.board-form{
    width: 550px;
    height: fit-content;
    background: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%

}

.board-x{
    position: absolute;
    left: 390px;
    top: 10px;
    font-size: 24px;
    color: #919191;
    cursor: pointer;
}

.board-form-h2{
    font-size: 24px;
    font-weight: bold;
    display: block;
    color:  #333;
}

.top-board-form{
    display: flex;
    justify-content: row;
    padding: 15px;
}

.board-form-buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 20px;
}

.board-submit{
    width: 75px;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #e60000;
    font-size: 16px;
    font-weight: bold;
}

.board-submit-off{
    width: 75px;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: #8e8e8e;
    background-color: rgb(237, 235, 235);
    font-size: 16px;
    font-weight: bold;
}

#no-hover{
      background-color: rgb(237, 235, 235);
}


.cancel-submit{
    width: 75px;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: black;
    background-color: rgb(237, 235, 235);
    margin-right: 15px;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: bold;
}

.board-form label{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  #333;
    margin-top: 20px;
}

.board-form-input{
    width: 370px;
    border-radius: 4px;
    border: 1px solid #333;
    font-size: 16px;
    margin-left: 10px;
}

.board-form-input::placeholder{
  font-size: 16px;
  color:  #a2a2a2;
}

.board-errors{
    color: #ed7a1c;
    font-size: 16px;
    width: 345px;
    font: "Segoe UI";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 10px;
    margin-left: 65px;
}