.board-form{
    width: 525px;
    height: 200px;
    background: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100%
}

.board-x{
    position: absolute;
    left: 480px;
    top: 10px;
    font-size: 24px;
    color: #919191;
    cursor: pointer;
}

.board-form-h2{
    font-size: 24px;
    font-weight: bold;
    display: block;
    color:  #333;
}

.top-board-form{
    display: flex;
    justify-content: row;
    padding: 15px;
}

.board-form-buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 20px;
}

.board-submit{
    width: 75px;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #e60000;
    font-size: 16px;
    font-weight: bold;
}


.cancel-submit{
    width: 75px;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: black;
    background-color: rgb(237, 235, 235);
    margin-right: 15px;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: bold;
}

.board-form label{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  #333;
    margin-top: 20px;
}

.board-form-input{
    width: 370px;
    border-radius: 4px;
    border: 1px solid #333;
    font-size: 16px;
}

.board-form-input::placeholder{
  font-size: 16px;
  color:  #a2a2a2;
}