.edit-board-form{
    width: 550px;
    height: 320px;
    background: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    /* width: 100%; */
    z-index: 10;
}

.edit-board-x{
    position: absolute;
    left: 480px;
    top: 10px;
    font-size: 24px;
    color: #919191;
    cursor: pointer;
}

.edit-board-form-h2{
    font-size: 24px;
    font-weight: bold;
    display: block;
    color:  #333;
}

.top-board-edit-form{
    display: flex;
    justify-content: row;
    padding: 15px;
}

.edit-board-form-buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 23px;
    
}

.edit-board-submit{
    width: 75px;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #e60000;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}


.edit-cancel-submit{
    width: 75px;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    color: black;
    background-color: rgb(237, 235, 235);
    margin-right: 15px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
}

.edit-board-form label{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  #333;
    margin-top: 20px;
}

.edit-board-form-input{
    width: 400px;
    border-radius: 4px;
    border: 1px solid #333;
    font-size: 16px;
}

.edit-board-form-input-des{
    width: 400px;
    border-radius: 4px;
    border: 1px solid #333;
    font-size: 16px;
    height: 100px;
}

.edit-board-form-input::placeholder{
  font-size: 16px;
  color:  #a2a2a2;
}